<wm-page data-ng-controller="Auto_sNfUvJLxexController" name="page1">
    <wm-content name="content1">
        <wm-button class="btn-default" caption="Button" type="button" margin="unset 0.5em" name="button1"></wm-button>
    </wm-content>
</wm-page>